body {
  background-color: #f5f4e8;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-weight: 600;
  font-size: 80px;
  padding: 10px 30px;
  margin: 0 200px;
  background-color: #fad2cf;
  border-radius: 20px;
  border: 0.5px solid #696565f1;
  text-align: center;
  opacity: 0.75;
  background: rgba(250, 210, 207, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.weather-app {
  border: 1.5px solid #d8d7d7;
  padding: 20px;
  margin: 80px auto;
  max-width: 1000px;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  background-image: url(https://i.pinimg.com/originals/d5/15/50/d51550aec996b3107df3d6c46cc8eabd.jpg);
}
li {
  list-style: none;
  margin: 2px;
  padding: 0;
  font-weight: 500;
}
.tempinfo {
  text-align: center;
  font-size: 105px;
  opacity: 75%;
  border: 0.5px solid #7c7777;
  background: rgba(250, 210, 207, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  


}
.weatherinfo {
  margin: 35px 23px;
  text-align: left;
  font-size: 25px;
  border-radius: 20px;
  border: 0.5px solid #7c7777;
  background: rgba(250, 210, 207, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: auto;
  opacity: 75%;

}
.card-body-day {
  margin: 0 auto;
  max-width: 30px;
}
.col-card {
  margin: 10px;
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 16%;
  padding: 0 -10px 0 -10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 15px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #fad2cf;
  opacity: 0.75;
}
.day {
  font-size: 65px;
  font-weight: 600;
  opacity: 79%;
}
.daydetail {
  font-size: 50px;
  opacity: 75%;
  margin-left: 60px;
  font-weight: 500;
}

.dayinfo {
  margin: 0 auto;
  padding: 0;
  opacity: 75%;
}
.entercity {
  margin: 0 200px;
}
.time {
  font-size: 25px;
  opacity: 75%;
}

.tempunit {
  font-size: 80px;
  font-weight: 500;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}